{% load crispy_forms_tags %}
<!Doctype html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Admin | Users</title>
</head>
<body>
    <div class="container">
        <div class="card">
            
                <div class="row">
                    <div class="col-6 m-auto">
                        <div class="card-header">
                            <div class="card-title">User Registration</div>
                        </div>
                       
                            <form method="post" autocomplete="off">
                                <div class="card-body">
                                {% csrf_token %}
                        
                                {{ form|crispy }}
                                <card-footer>
                                    <input type="submit" value="Save" class="btn btn-success">

                                </card-footer>
                        </div>
                    </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>